.grid-container {
  display: grid;
  grid-template: 38vh / auto auto;
  grid-gap: 10px;
  padding: 10px;
  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 20vw;
  padding: 5px;
}

.grid-container > div{
  overflow-y: scroll;
}

.grid-container > div:last-child select{
  width: 10vw;
}

.errorBlock{
  position: absolute;
}

.timeSpanTableEnrollment tr:first-child button{
  display: none;
}

.colorSelector input{
  border: 0px;
  width: 150px;
}

.colorSelector > label{
  text-align: right;
  clear: both;
  float: left;
  margin-right: 10px;
}