.grid-container {
  grid-template: 38vh / auto auto;
  grid-gap: 10px;
  padding: 10px;
  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 20vw;
  padding: 5px;
}

.grid-container > div{
  overflow-y: scroll;
}

.grid-container > div:first-child{
overflow-y: unset;
}

.errorBlock{
  position: absolute;
}

#cancel_btn{
  background-color: #000 !important;
  opacity: 1;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0px;
  top: -15px;
  right: -15px;
  padding: 0px;
  font-weight: bold !important;
  font-size: 20px;
}

#remove_btn{
  background-color: #ED6E7F;
}

#addTimeSpanBtn{
  margin-left: 0px;
  margin-bottom: 0px;
}


.modalContainer{
  border-radius: 10px 10px 10px 10px;
}



.colorSelector input{
  border: 0px;
  width: 100%;
}

.colorSelector > label{
  text-align: right;
  clear: both;
  float: left;
  margin-right: 10px;
}

@media (width < 1200px) {

  #cancel_btn{
    top: -10px;
    right: -10px;
  }
  
  .grid-container {
    display: block;
    overflow-y: unset;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 5px;
    overflow-y: unset;
  }

}
