.schedule {
  display: grid;
  column-gap: 1px;

}

.time-column, .classroom-column {
  display: grid;
  grid-template-rows: repeat(18, 50px); 
}

.course-cell {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  overflow: hidden;  
}

.empty-slot {
  border: 1px solid #eee;
}

.course-cell,.empty-slot{
  cursor: pointer;
}

.single-slot{
  height: 50px;
}

/**/

.merged-cell {
  position: relative;
  background-color: #eee !important;
  
}

.time-slot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-cell{
border-width: 5px ;
border:#000;
}