.confirmationModal{
  text-align: center;
  border: 5px solid #204C6F !important ;
}

.confirmationModal p{
  font-size: 1.3em;
}

dialog{
  position: fixed;
  top: 50%;
}

#cancelBtn:focus{
  border: 2px solid black !important;

}

dialog p{
  color: #204C6F;
  font-style: italic;
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 3vh;
}