header h1{
  font-size: 1.2em;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.main-section header{
  font-size: 1.5em;
}

.main-section p{
  font-size: 1em;
  color: #323030;
  text-align: justify;
}

#main-doc{
  position: absolute;
  margin-left: 50px;
  padding-top: 30px;
}

#main-doc header {
  font-weight : bold;
}


@media (max-width: 800px){
  header h1{
    text-align: center;
    padding-left: 0%;
  }

  #navbar li{
    padding-left: 0%;
    text-align: center;
  }

  #main-doc{
    display: block;
    position: absolute;
    margin: 10px;
    padding-top: 10px;

}


}