.filtersHorario form{
  margin-bottom: 25px;
  margin-top: 25px;
}

.fil-selectors{
  display: flex;
}

.filters-form:not(:last-child){
  display: flex;
  justify-content: center;
  
}

.fil-selectors div:not(:first-child){
  margin-left: 10px;
}
.fil-selectors select{
  width: 235px;
  text-overflow: ellipsis;
}

.fil-checkboxes{
  
}
.form-check{
  display: flex;
}
.form-check .form-check-input{
  margin: 0px;
  margin-left: 10px;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.card {
  box-shadow: 0 2px 4px rgba(0,0,0,.05);
  flex-direction: row;
}

.modalContainer form span input, label {
  display: inherit !important;
}


.largerCheckBox{
  width: 22px;
  height: 22px;
}

.grid_container{
  display: grid;
  grid-template: 100% / auto;
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.grid_container_dual{
  display: grid;
  grid-template: 100% / 60% 40%;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.grid_container,.grid_container_dual > div{
  overflow-x: scroll;
  overflow-y: unset !important;
  max-height: fit-content;
}


.grid_container,.grid_container_dual > .virtual_courses_container {
  overflow: hidden;
  overflow: scroll;
  
}

.grid_container,.grid_container_dual > .mainScheduleUI {
  border: 1px solid #204C6F;
  border-radius: 10px 10px 10px 10px;
  padding: 1vh;
  background-color: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, .05);
}

.virtual_courses_container{
  border: 1px solid #204C6F;
  border-radius: 10px 10px 10px 10px;
  overflow-x: unset !important;
  padding: 1vh;
  background-color: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, .05);

}

.aulaTitle{
  text-align: center;
  color: #204C6F;
  font-weight: bold;
}

.timeSpanRowTitle{
  color: #204C6F;
  font-weight: bold;
}

.scheduleConfigBtn{
  text-align: end;
}

.grid_container_filter_config .scheduleConfigBtn i {
  top: 35px;
  left: -25px;
}

.mainTitleVirtualCourses{
  margin: 0px;
  font-weight: bold;
  margin-bottom: 15px;
}

.time-column > div:first-child{
  border: 0px;
  color: var(--ucr_blue);
}

.time-column > div:first-child > h3{
  font-weight: bold !important;
}

.filter-selector{
  max-width: 500px;
}

.alert{
  margin-top: 20px;
  transition-property: opacity, display;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.alert button{
  font-size: 30px;
  padding: 0px;
  font-weight: 500;
  color: var(--bs-warning-text-emphasis);
  position: absolute;
  right: 10px;
  top:50%;
  transform: translate(-50%, -50%);
}

.alert p{
  margin-bottom: 0;
}

.vanish{
  opacity: 0.01;
  display: none;
}

@media (width <= 1230px ) and (width >= 1000px ){
  .fil-checkboxes > div > span{
    display: flex;
  }
}

@media (width <= 1050px) {
  .card {
    flex-direction: column;
  }

  .filters-form{
    display: block;
  }
  .grid_container_filter_config{
    display: grid;
    grid-template-columns: 100% 0%;
  }

  .scheduleConfigBtn{
    position: absolute;
    right: 1%;
  }

  .filtersHorario form{
    position: relative;
    text-align: center;
  }

  .fil-selectors{
    display: block;
    
    select{
      margin: auto;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  
  .fil-selectors div:not(:first-child){
    margin-left: 0px;
  }

  .fil-checkboxes div {
    margin-top: 10px !important;
    margin: auto;
  }

  .fil-checkboxes > div > span{
    display: flex;
  }
}
