.filtersHorario form{
  margin-bottom: 25px;
  margin-top: 25px;
}
.filtersHorario form span{
  display: inline-block !important;
  margin-right: 25px
}

.modalContainer form span input, label {
  display: inherit !important;
}

.filtersHorario form span label{
  font-weight: bold;
  margin-right: 5px;
}

.filtersHorario input[type="checkbox"]{
  background-color: red;

}

.largerCheckBox{
  width: 22px;
  height: 22px;
}

.grid_container{
  display: grid;
  grid-template: 50% / auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.grid_container > div{
  overflow-x: scroll;
  height: 110vh;
}

.grid_container > .virtual_courses_container {
  overflow: hidden;
  overflow-y: scroll;
  
}

.grid_container > .mainScheduleUI {
  border: 4px solid #204C6F;
  border-radius: 10px 10px 0px 0px;
  padding: 1vh;
}

.virtual_courses_container{
  border: 4px solid #204C6F;
  border-radius: 10px 10px 0px 0px;
  padding: 1vh;
}

.aulaTitle{
  text-align: center;
  color: #204C6F;
  font-weight: bold;
}

.timeSpanRowTitle{
  color: #204C6F;
  font-weight: bold;
}